<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta charset="UTF-8">
    <title>My First Webpage</title>
  </head>

  <body>
    <h1>This is Login Page</h1>
	
	
	<div th:if="${errormsg}">
		<h2 style="color:red" th:text="${errormsg}"></h2>
	</div>
	<form th:action="@{/loginForm}" th:object="${std}" method="post">
		
		Email :<input type="text" th:field="*{email}"><br></br>
		Password :<input type="password" th:field="*{password}"><br></br>
		<input type="submit" value="Login" /><br></br>
	</form><br></br>
	
	If not registered ... <a href="/regPage">Click here to register</a>
  </body>
</html>
